.body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.nav {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  background-color: gold;
}
.nav-elements {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

.home-page-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
}
.home-page-button {
  width: 140px;
  height: 40px;
  background-color: blue;
  border: black;
  margin-top: 20em;
  border-radius: 5px;
}
